@font-face {
  font-family: Montserrat;
  src: url("/static/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf"), format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Orbitron;
  src: url("/static/fonts/Orbitron/Orbitron-VariableFont_wght.ttf"), format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Roboto/Roboto-Regular.ttf"), format('truetype');
  font-weight: 700;
}

:root {
    --pico-border-radius: 20px;
}

body {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    margin-top: 10px;
}

.title-text {
    font-family: "Orbitron", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    background-color: rgb(152, 134, 255);
    background-image: linear-gradient(45deg, #7a78f3, #dfb4f8);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.logo {
    margin-right: 10px;
    margin-bottom: 15px;
    max-width: 100px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.home-icon{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.footer-text {
    font-size: medium;
}

.main-footer {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

article {
    box-shadow: 10px 10px #07001a90;
}

hr.dotted {
    border-top: 2px dashed #202632;
    margin-top: 35px;
    margin-bottom: 35px;
}

.submit-container-button {
    text-align: center;
    margin-bottom: 50px;
}

.home-container-button {
    text-align: center;
    margin-top: 50px;
}

.error {
    margin-top: 10px;
    text-align: center;
}

.success {
    margin-top: 20px;
}

.success-message {
    color: aquamarine;
}

.error-message {
    color: brown;
}

button {
    width: 100%;
}

h2 {
    font-family: "roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
}

h3 {
    font-family: "roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

a.magnet-link {
    color: #bda8d8;
}

.magnet-icon {
    margin-right: 5px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.palestine-icon {
    margin-right: 0;
    margin-bottom: 3px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-text {
    color: #bda8d8;
    font-weight: 500;
}

.search-info-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-dropdown {
    margin-bottom: 30px;
}

.ul-checkbox {
    text-align: left;
}

.page-button {
    max-width: 150px;
    margin-top: 30px;
}

.previous-container {
    text-align: left;
}

.next-container {
    text-align: right;
}

.bottom-text {
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.search-text {
    color: #bda8d8;
    font-weight: 0;
    font-style: inherit;
}

.magnet-title {
    margin-right: 15px;
}

.views-count {
    white-space: normal;
}

.warning {
    text-align: center;
    margin-bottom: 30px;
}

.warning-text {
    font-size: medium;
    color: #bda8d8;
}

.warning-icon {
    margin-bottom: 5px;
}

.date-icon {
    margin-bottom: 5px;
}

.circle-icon {
    margin-bottom: 3px;
    opacity: 0.5;
}

.verified-icon {
    margin-bottom: 3px;
}

.error-text {
    color: brown;
}

.verified {
    font-weight: 900;
    color: aquamarine;
}

@media screen and (max-width: 475px) {
    .logo {
        max-width: 80px;
    }

    .title-text {
        font-size: 35px;
    }

    .quote {
        font-size: medium;
    }
}

@media screen and (max-width: 360px) {
    .logo {
        max-width: 70px;
    }

    .title-text {
        font-size: 30px;
    }

    .quote {
        font-size: small;
    }
}

@media screen and (max-width: 330px) {
    .logo {
        max-width: 60px;
    }
}

@media screen and (max-width: 310px) {
    .logo {
        max-width: 60px;
    }

    .title-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .info-container {
        display: block;
        justify-content: space-between;
    }

    .previous-container {
        text-align: center;
    }

    .next-container {
        text-align: center;
    }

    .view-container {
        display: flex;
        justify-content: space-between;
    }
}
